/* .App {
  text-align: center;
} */


@import "rsuite/dist/rsuite.css";


.Overlay {
  backdrop-filter: blur(2px); /* Adjust the blur radius as needed */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity:1;
  /* background-color: black; */
}


.doughnut-chart-container {
  width: 200px; /* Set your desired width */
  height: 200px; /* Set your desired height */
  margin: auto;
}
